################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/TesterCestDouter/.vs/TesterCestDouter/v15
/TesterCestDouter/obj
/TesterCestDouter/bin
/TesterCestDouter.Tests/obj
/TesterCestDouter.Tests/bin
